/* CSS Document */


#flagscreenshot {
	height: 100%;
	
}

#flag {
	height: auto;
	width: 100%;
}

#text {
	font-size: 4em;
	text-align: center;
    font-family: 'Ubuntu', sans-serif;
	color: white;
}

#textbox {
	width: 100em;
	height: 10em;
	display: table-cell;
	vertical-align: middle;
	align-content: center;
	
}

html {
	background: #15202b;
	
}



a {
	text-decoration: none;
	color: white;
}